// v3.4.0+ 新增了一个判断
if hexo-config('css_prefix')
  @import 'nib'
// v3.0.0-v3.3.0 没有判断
//@import 'nib'
@import url(hexo-config('CDN.swiper_css'))
@import '_third-party/normalize.min.css'
// project
@import 'var'
@import '_global/*'
@import '_highlight/highlight'
@import '_page/*'
@import '_layout/*'
@import '_tags/*'
@import '_mode/*'

// search
if hexo-config('algolia_search.enable')
  @import '_search/index'
  @import '_search/algolia'

if hexo-config('local_search') && hexo-config('local_search.enable')
  @import '_search/index'
  @import '_search/local-search'
